   0  0  Miel1E     Miel1E     8192
   0  1  Miel2E     Miel2E     8192
   0  2  Miel3E     Miel3E     8192
   0  3  Miel4E     Miel4E     8192
   0  4  Miel5E     Miel5E     8192
   0  5  Miel6E     Miel6E     8192
   1  0  Aptherix   Aptherix     8192
   1  1  HallProbe  HallProbe     2048
   1  2  VcontE     VcontE     2048
   1  3  VcontG     VcontG     2048
   1  4  Chopper     Chopper     8192
  11  0  MielT1T2  MielT1-T2     8192
  11  1  MielT1T3  MielT1-T3     8192
  11  2  MielT1T4  MielT1-T4     8192
  11  3  MielT1T5  MielT1-T5     8192
  11  4  MielT1T6  MielT1-T6     8192
  11  5  MielT2T3  MielT2-T3     8192
  11  6  MielT2T4  MielT2-T4     8192
  11  7  MielT2T5  MielT2-T5     8192
  11  8  MielT2T6  MielT2-T6     8192
  11  9  MielT3T4  MielT3-T4     8192
  11  10  MielT3T5  MielT3-T5     8192
  11  11  MielT3T6  MielT3-T6     8192
  11  12  MielT4T5  MielT4-T5     8192
  11  13  MielT4T6  MielT4-T6     8192
  11  14  MielT5T6  MielT5-T6     8192
